In [38]:
library(ggplot2)
library(dplyr)

In [39]:
df <- read.table(
  "../../data/workflow/bootstrap/bootstrap_values.txt",
  sep="\t", header=FALSE)
column_names <- c("group","alpha", "omega","pFDM", "NeS_0_1", "NeS_1_10", "NeS_10_100", "NeS_100_99")
colnames(df) <- column_names

In [40]:
df[1:4,]

  group        alpha    omega    pFDM         NeS_0_1  NeS_1_10 NeS_10_100
1 candidate    0.588895 0.138630 0.0004937587 0.103457 0.029760 0.038321
2 noncandidate 0.327142 0.084549 0.0008750976 0.182857 0.037036 0.044537
3 candidate    0.617184 0.148556 0.0023566094 0.100523 0.042519 0.060504
4 noncandidate 0.302678 0.078776 0.0038581320 0.187996 0.025627 0.029121
  NeS_100_99
1 0.828462
2 0.735569
3 0.796454
4 0.757255

In [55]:
for (i in c("alpha", "omega","pFDM")){
    summary <- df %>% group_by(group) %>% summarize(mean = mean(eval(as.name(i))),
                                                   sd = sd(eval(as.name(i))))
    print(summary)
    p <- ggplot(summary, aes(x=group, y=mean, group=group, colour = group)) + 
    geom_pointrange(aes(ymin=mean-sd, ymax=mean+sd))+
    geom_line()+
    geom_pointrange(aes(ymin=mean-sd, ymax=mean+sd))+
    theme_classic() +
    scale_color_manual(values=c('red','blue'))+
    labs(x="group", y = paste("mean",i, sep =" "))
    ggsave(paste("../../data/dfe_alpha_analysis/20210119/mean",i,".pdf", sep =""), width = 4, height = 4.25, units = "in")
    }

# A tibble: 2 x 3
  group         mean     sd
  <fct>        <dbl>  <dbl>
1 candidate    0.530 0.0744
2 noncandidate 0.342 0.0775

geom_path: Each group consists of only one observation. Do you need to adjust
the group aesthetic?

# A tibble: 2 x 3
  group          mean     sd
  <fct>         <dbl>  <dbl>
1 candidate    0.124  0.0192
2 noncandidate 0.0887 0.0214

geom_path: Each group consists of only one observation. Do you need to adjust
the group aesthetic?

# A tibble: 2 x 3
  group           mean       sd
  <fct>          <dbl>    <dbl>
1 candidate    0.00126 0.000951
2 noncandidate 0.00241 0.00138

geom_path: Each group consists of only one observation. Do you need to adjust
the group aesthetic?

In [23]:
summary <- df %>% group_by(group) %>% summarize(mean = mean(alpha),
                                               sd = sd(alpha))

In [24]:
summary

  group        mean      sd
1 candidate    0.5471798 0.08206634
2 noncandidate 0.3623026 0.07858157